@font-face {
    font-family: "NHaasGroteskTXStd-55Rg";
    src: url(/styles/fonts/309A9E_0_0.woff2);
    src: url(/styles/fonts/309A9E_1_0.woff2);
}
html {
    font-family: 'NHaasGroteskTXStd-55Rg';
    font-size: 14px;
}
body {
    padding: 0;
    margin: 0;
}
nav { 
    display: flex;
}
nav div {
    flex: 1 1 auto;
}
.nav-menu {
    vertical-align: baseline;
    height: 2.3em;
}
.top-nav {
    margin: 0.7em 0;
    font-size: 0.9em;
}
.header {
    top: 0;
}
h1 {
    font-weight: bold;
    font-size: 3em;
}
h2 {
    line-height: 1em;
}
p {
    overflow: auto;
    box-sizing: border-box;
    margin: 0;
    line-height: 1.3em;
}
section {
    padding: 0.5em 10em;
}
.header {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.logo {
    background: url(/images/lloyds_logo.svg) no-repeat;
    background-size: 6em;
    overflow: hidden;
    display: inline-block;
    height: 3em;
    object-fit: fill;
    color: transparent;

}
.no-margin {
    margin: 0;
}
/* Color classes */
.text-white {
    color: white;
}
.text-black {
    color: black;
}
.text-gray {
    color: gray;
}
.bg-white {
    background-color: white;
}
.bg-light {
    background-color: #f1f1f1;
}
.bg-dark {
    background-color: #141414;
}
.btn-share:active {
    background-color: black;
    color: white;
}
/* Display format classes */
.no-bullet {
    list-style: none;
    margin: 0;
    padding: 0;
}
.hide-link {
    text-decoration-line: none;
}
.hide-link:hover {
    text-decoration: underline;
}
.inline-block {
    display: inline-block;
}

.item-seperator {
    border-right: solid 1px;
    padding: 0em 0.5em;
}
.item-seperator:first-child {
    padding-left: 0;
}
.item-seperator:last-child {
    border-right: none;
}
.fa {
    box-sizing: border-box;
    padding: 0.3em;
    margin-right: 0.8em;

}
.fa-twitter {
    background-color: #1da1f2;
}
.fa-linkedin {
    background-color: #0077b5;
}
.fa-facebook {
    background-color: #3b5998;
    padding: 0.3em 0.5em;
}
.fa-youtube {
    background-color: #ff0000;
}
.fa-envelope {
    color: white;
    background-color: grey;
}
.article {
    display: grid;
    grid-template-areas: "image text";
    margin: 1em 0 4em 0;
    width: 85%;
}
.article-image {
    grid-area: "image";
    margin-left: 2em;
}
.article-image img {
    -webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 7px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.5);
}
.article-text {
    grid-area: "text";
    margin-left: 2em;
}
.article-text p {
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.btn-download {
    background-color: #0a4bb7;
    border: none;
    margin: 0;
    padding: 1.2em;
}
.bottom-border {
    border-bottom: solid #d8d8da 1px;
}
.div-seperator {
    margin: 1em 0 2em 0;
}
.text-seperator {
    margin: 1em 0;
}
#share {
    display: none;
    background-color: #141414;
    min-width: fit-content;
    width: 10em;
    padding: 1em;
    margin-top: 0 !important;
}
#btn-share {
    cursor: pointer;
    color: #0c4ab5;
    font-weight: bold;
    font-size: 1.1em;
    box-sizing: border-box;
    margin-bottom: 0 !important;
    padding: 0.2em 1em;
    width: 10em;
}
.search {
    background-color: #f1f1f1;
    height: 2.3em;
    padding-left: 0.4em;
    border-bottom: solid 1px black;
}
.search input {
    background-color: #f1f1f1;
    box-sizing: border-box;
    border: none;
    width: 6em;
    height: 100%;
    outline: none;
}
.search button {
    background-color: #f1f1f1;
    border: none;
    width: fit-content;
    padding-left: 0;
}
.fa-search {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 1.4em;
}
.secondary-nav {
    display: flex;
    height: 2.5em;
    margin-top: 1em;
    text-align: center;
    align-content: center;
    vertical-align: middle;
}
.nav-panel {
    box-sizing: border-box;
    border-right: solid 1px white;
    flex: 1 1 auto;
}
.nav-dropdown {
    display: block;
}
.second-nav {
    width: 100%;
    font-weight: bold;
    line-height: 2.5em;
}
.nav-dropdown:hover {
    background-color: #f1f1f1 !important;
}
.nav-dropdown:hover .second-nav {
    color: #141414 !important;
}
.nav-panel:hover .dropdown-content {
    display: block;
    position: absolute;
    margin: 0;
    left: 10em;
    right: 10.1em;
    z-index: 1;
    -webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 7px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.5);
    padding: 0 2em 1em 2em;
    text-align: left;
}
.dropdown-content  {
    display: none;
}
.dropdown-content h2 {
    font-size: 1em;
    padding: 1em 0;
    border-bottom: solid 1px black;
}
.dropdown-content ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.dropdown-content ul li {
    width: 30%;
    text-align: start;
    line-height: 2.5em;
}